<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>宿舍管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

</head>
<body>
<!-- 顶部开始 -->
<div th:replace="public::top"></div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div th:replace="public::mid"></div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">

            <xblock>
                <button class="layui-btn" onclick="flush()"><i
                        class="layui-icon"></i>刷新
                </button>
                <span class="x-right" style="line-height:40px" th:text="'共有学生'+${numHasBed}+'人入住'"></span>
            </xblock>
            <table class="layui-table">
                <thead>
                <tr>

                    <th>
                        学生id
                    </th>
                    <th>
                        宿舍号
                    </th>
                    <th>
                        楼层
                    </th>
                    <th>
                        房间号
                    </th>
                    <th>
                        床位号
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="s:${stuWithBedInfoList}">
                    <td th:text="${s.stu_id}"></td>
                    <td th:switch="${s.dorm_id}"><label th:case="-1">未入住</label><label th:case="${s.dorm_id}" th:text="${s.dorm_id}"></label</td>
                    <td th:switch="${s.layer_id}"><label th:case="-1">未入住</label><label th:case="${s.layer_id}" th:text="${s.layer_id}"></label</td>
                    <td th:switch="${s.room_id}"><label th:case="-1">未入住</label><label th:case="${s.room_id}" th:text="${s.room_id}"></label</td>
                    <td th:switch="${s.bed_num}"><label th:case="-1">未入住</label><label th:case="${s.bed_num}" th:text="${s.bed_num}"></label</td>
<!--                    <td th:switch="${s.bed_id}"><label th:case="-1">未入住</label><label th:case="${s.bed_id}" th:text="${s.bed_id}"></label></td>-->

                    <td class="td-manage">
                        <a title="编辑" href="javascript:;" onclick="stuBed_edit(this,'编辑','/static/bed-allocation-edit.html','4','','510')"
                           class="ml-5" style="text-decoration:none">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <label th:switch="${s.bed_num}">
                            <a th:case="-1"></a>
                            <a th:case="${s.bed_num}" title="退宿" href="javascript:;" onclick="stu_del(this)"
                                                          style="text-decoration:none">
                            <i class="layui-icon">&#xe640;</i>
                        </a></label>

                    </td>
                </tr>
                </tr>

                </tbody>
            </table>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<!-- 底部开始 -->
<!-- 底部结束 -->
<!-- 背景切换开始 -->
<div th:replace="public::foot"></div>
<!-- 背景切换结束 -->
<!-- 页面动态效果 -->
<script>

    layui.use(['laydate'], function () {
        laydate = layui.laydate;//日期插件

        //以上模块根据需要引入
        //


        var start = {
            min: laydate.now
            , max: '2099-06-16 23:59:59'
            , istoday: false
            , choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };

        var end = {
            min: laydate.now
            , max: '2099-06-16 23:59:59'
            , istoday: false
            , choose: function (datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };

        document.getElementById('LAY_demorange_s').onclick = function () {
            start.elem = this;
            laydate(start);
        }
        document.getElementById('LAY_demorange_e').onclick = function () {
            end.elem = this
            laydate(end);
        }

    });

    //批量删除提交
    function delAll() {
        layer.confirm('确认要删除吗？', function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
        });
    }

    /*用户-添加*/
    function stu_add(title, url, w, h) {
        x_admin_show(title, url, w, h);
    }






    // 用户-编辑
    function stuBed_edit(obj, title, url, id, w, h) {
        var stu_id = $(obj).parents("tr").find("td").eq(0).text();
        var dorm_id = $(obj).parents("tr").find("td").eq(1).text();
        var layer_id = $(obj).parents("tr").find("td").eq(2).text();
        var room_id = $(obj).parents("tr").find("td").eq(3).text();
        var bed_num = $(obj).parents("tr").find("td").eq(4).text();

        if(isNaN(dorm_id))//未入住
            dorm_id = -1;
        if(isNaN(layer_id))//未入住
            layer_id = -1;
        if(isNaN(room_id))//未入住
            room_id = -1;
        if(isNaN(bed_num))//未入住
            bed_num = -1;
        var this_user = {stu_id:stu_id, bed_num: bed_num, dorm_id:dorm_id, layer_id:layer_id, room_id:room_id}
        var strBed = JSON.stringify(this_user);
        var new_url = url + "?stuBed=" + window.encodeURIComponent(strBed);
        x_admin_show(title, new_url, w, h);
    }

    /*密码-修改*/
    function member_password(title, url, id, w, h) {
        x_admin_show(title, url, w, h);
    }

    function httpPost(URL, PARAMS) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";

        for (var x in PARAMS) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            temp.appendChild(opt);
        }

        document.body.appendChild(temp);
        temp.submit();

        return temp;
    }

    /*用户-删除*/
    function stu_del(obj) {
        layer.confirm('确认要退宿吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已退宿!', {icon: 1, time: 1000});
            var stu_id = $(obj).parents("tr").find("td").eq(0).text();
            var params = {
                "stu_id":stu_id
            };
            httpPost("/stuBedDel", params);
        });
    }

    /*刷新用户*/
    function flush() {
        window.location.href="/bedAllocationList";
    }
</script>
<script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>