<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>宿舍管理系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <script src="/static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

</head>
<body>
<!-- 顶部开始 -->
<div th:replace="public::top"></div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<div class="wrapper">
    <!-- 左侧菜单开始 -->
    <div th:replace="public::mid"></div>
    <!-- 左侧菜单结束 -->
    <!-- 右侧主体开始 -->
    <div class="page-content">
        <div class="content">
            <xblock>
                <!--                <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon">&#xe640;</i>批量删除-->
                <!--                </button>-->
                <button class="layui-btn" onclick="dorm_add('添加宿舍楼','/dormAddPage','600','500')"><i
                        class="layui-icon">&#xe608;</i>添加
                </button>
                <button class="layui-btn" onclick="dorm_flush()"><i
                        class="layui-icon"></i>刷新
                </button>
                <span class="x-right" style="line-height:40px" th:text="'共有'+${numOfDorm}+'栋宿舍'"></span>
            </xblock>
            <table class="layui-table">
                <thead>
                <tr>

                    <th>
                        楼id
                    </th>
                    <th>
                        层数
                    <th>
                        房间/每层
                    </th>
                    <th>
                        床位/房间
                    </th>
                    <th>
                        总床位数
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="dorm:${dormList}">
                    <td th:text="${dorm.dormId}" id="td_dormname">
                        <!--                            <u style="cursor:pointer" onclick="member_show('张三','member-show.html','10001','360','400')">-->
                        <!--                                小明-->
                        <!--                            </u>-->
                    </td>
                    <td th:text="${dorm.layers}">?????
                    </td>
                    <td th:text="${dorm.roomPerLayer}">?????
                    </td>
                    <td th:text="${dorm.bedPerRoom}">?????
                    </td>
                    <td th:text="${dorm.bedPerRoom*dorm.roomPerLayer*dorm.layers}">
                    </td>

                    <td class="td-manage">
                        <a title="删除" href="javascript:;" onclick="dorm_del(this,'1')"
                           style="text-decoration:none">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </td>
                </tr>
                </tr>

                </tbody>
            </table>
            <!-- 右侧内容框架，更改从这里结束 -->
        </div>
    </div>
    <!-- 右侧主体结束 -->
</div>
<!-- 中部结束 -->
<!-- 底部开始 -->
<!-- 底部结束 -->
<!-- 背景切换开始 -->
<div th:replace="public::foot"></div>
<!-- 背景切换结束 -->
<!-- 页面动态效果 -->
<script>

    layui.use(['laydate'], function () {
        laydate = layui.laydate;//日期插件

        //以上模块根据需要引入
        //


        var start = {
            min: laydate.now
            , max: '2099-06-16 23:59:59'
            , istoday: false
            , choose: function (datas) {
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };

        var end = {
            min: laydate.now
            , max: '2099-06-16 23:59:59'
            , istoday: false
            , choose: function (datas) {
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };

        document.getElementById('LAY_demorange_s').onclick = function () {
            start.elem = this;
            laydate(start);
        }
        document.getElementById('LAY_demorange_e').onclick = function () {
            end.elem = this
            laydate(end);
        }

    });

    //批量删除提交
    function delAll() {
        layer.confirm('确认要删除吗？', function (index) {
            //捉到所有被选中的，发异步进行删除
            layer.msg('删除成功', {icon: 1});
        });
    }

    /*用户-添加*/
    function dorm_add(title, url, w, h) {
        x_admin_show(title, url, w, h);
    }

    /*用户-查看*/
    function dorm_show(title, url, id, w, h) {
        x_admin_show(title, url, w, h);
    }

    /*用户-停用*/
    function dorm_stop(obj, id) {
        layer.confirm('确认要停用吗？', function (index) {
            //发异步把用户状态进行更改
            $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="member_start(this,id)" href="javascript:;" title="启用"><i class="layui-icon">&#xe62f;</i></a>');
            $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-disabled layui-btn-mini">已停用</span>');
            $(obj).remove();
            layer.msg('已停用!', {icon: 5, time: 1000});
        });
    }



    /*密码-修改*/
    function dorm_password(title, url, id, w, h) {
        x_admin_show(title, url, w, h);
    }

    function httpPost(URL, PARAMS) {
        var temp = document.createElement("form");
        temp.action = URL;
        temp.method = "post";
        temp.style.display = "none";

        for (var x in PARAMS) {
            var opt = document.createElement("textarea");
            opt.name = x;
            opt.value = PARAMS[x];
            temp.appendChild(opt);
        }

        document.body.appendChild(temp);
        temp.submit();

        return temp;
    }

    /*用户-删除*/
    function dorm_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            //发异步删除数据
            $(obj).parents("tr").remove();
            layer.msg('已删除!', {icon: 1, time: 1000});
            var dorm_id = $(obj).parents("tr").find("td").eq(0).text();
            var params = {
                "dorm_id":dorm_id
            };
            httpPost("/dormDel", params);
        });
    }

    /*刷新用户*/
    function dorm_flush() {
        window.location.href="/dormListPage";
    }
</script>
<script>
    //百度统计可去掉
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>